.formInputContainer {
  width: 100%;
}

.formInput {
  width: 100%;
  display: block;
  border-radius: .6rem;
  height: 6rem;
  border: 1px solid #333;
  padding: 2rem 3rem;
  font-size: 1.6rem;

  &::placeholder {
    color: #132743;
  }
}

.error {
  color: #D52047;
  margin-top: 2px;
}
